<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control Panel - MYBLOG</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="fragments/main.html :: cpnavigation">
</div>
<div class="cpbody">
    <section class="forma container">
        <form th:action="@{/articles/controlpanel/comment/submit}" method="post" th:object="${article}" modelAttribute="article">
            <div class="form-group">
                <label for="exampleInputEmail1">Comment ID</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" th:field="*{id}">
            </div>
            <div class="form-group">
                <div class="col-xs-2">
                    <label for="Title">Article ID</label>
                    <textarea rows="1" class="form-control" id="Title" th:field="*{title}" maxlength="25"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="Author">Title</label>
                <input type="text" class="form-control" id="Author" th:field="*{author}">
            </div>
            <div class="form-group">
                <label for="contentText">Conte</label>
                <textarea rows="5" class="form-control" id="contentText" th:field="*{articleContent}"></textarea>
            </div>
            <div class="form-group">
                <label for="ImgURL">Image URL</label>
                <input type="text" class="form-control" id="ImgURL" th:field="*{imageurl}">
            </div>
            <input type="submit" class="btn btn-success" th:value="${article.id != null ? 'Submit' : 'Create'}"/>
            <a th:href="@{/articles/controlpanel/{id}/delete(id=${article.id})}"><button type="button" th:text="#{istrinti}" class="btn btn-danger">Delete</button></a>

        </form>
        <ul th:if="${#fields.hasErrors('${article.*}')}">
            <li th:each="error : ${#fields.errors('${article.*}')}" th:text="${error}"/>
        </ul>
    </section>
</div>
</body>
</html>